<!doctype html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <title>We-Call</title>
      <link rel="stylesheet" href="/static/styles/style.css">
    </head>
    <body>
        
        <div class="login-form center" style="height: 350px">
            <form action="/dashboard" method="post">
                <div class="text-center">
                    <img src="/static/img/weCall-Logo(new).png" alt="We-Call" width="180px" height="130px">
					<p class="logo-name">We-Call</p>
                    <p class="welcome-message">Welcome Back!</p>
                </div>       
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email Address" required="required">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" required="required">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Log in</button>
                </div>
                <div class="clearfix">
                    <label class="float-left form-check-label"><input type="checkbox"> Remember me</label>
                    <a href="#" class="float-right">Forgot Password?</a>
                </div>        
            </form>
            <div>
				<p class="text-center">Copyright © 2021 <a href="https://infocision.in">Infocision.</a></p>
				<p class="text-center margin">All rights reserved.</p>
			</div>
        </div>
        <!-- <div id="particles-js"></div>
        <script type="text/javascript" src="particles.js"></script>
        <script type="text/javascript" src="/static/styles/app.js"></script> -->
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script src="/static/styles/footer.js"></script>
    </body>
</html>