{% extends "layout.html" %}
{% block content %}
	<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>List Organization</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <section class="container">
			<div class="card callout callout-danger"> 
				<div class="card-body">
					<table id="example2" class="table table-bordered table-hover">
					  <thead>
						  <tr>
							<th>Organization</th>
							<th>Division</th>
							<th>Address</th>
							<th>View</th>
							<th>Edit</th>
							<th>Delete</th>
						  </tr>
					  </thead>
					  <tbody>
						  <tr>
							<td>Shield</td>
							<td>Evacare</td>
							<td>ABC</td>
							<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</td>
							<th><a href="/edit_org" class="btn btn-primary"><i class="fas fa-edit"></i></a></th>
							<th><a href="/edit_org" class="btn btn-danger"><i class="fas fa-trash"></i></a></th>
						  </tr>
						  <tr>
							<td>Shield</td>
							<td>Nutri</td>
							<td>def</td>
							<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</td>
							<th><a href="/edit_org" class="btn btn-primary"><i class="fas fa-edit"></i></a></th>
							<th><a href="/edit_org" class="btn btn-danger"><i class="fas fa-trash"></i></a></th>
						  </tr>
						  <tr>
							<td>Shield</td>
							<td>Genecia</td>
							<td>def</td>
							<td>def@gmail.com</td>
							<th><a href="/edit_org" class="btn btn-primary"><i class="fas fa-edit"></i></a></th>
							<th><a href="/edit_org" class="btn btn-danger"><i class="fas fa-trash"></i></a></th>
						  </tr>
					  </tbody>
					</table>
				</div>
			</div>
        </section>
    </section>
</div>
  {% endblock %}